<div class="container">
    <h3>Carga de usuarios</h3>
    <hr>
    <form (ngSubmit)="onSubmit()" #f ="ngForm">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" type="text" name="nombre" id="nombre" ngModel #nombre="ngModel" required>
            <span class="blockquote-footer" *ngIf="!nombre.valid && nombre.touched">Favor de ingresar un nombre</span>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input class="form-control" type="text" name="apellido" id="apellido" ngModel #apellido="ngModel" required>
            <span class="blockquote-footer" *ngIf="!apellido.valid && apellido.touched">Favor de ingresar un apellido</span>
        </div>
        <div class="form-group">
            <label for="mail">Mail</label>
            <input class="form-control" type="email" name="mail" id="mail" ngModel #mail="ngModel" required email>
            <span class="blockquote-footer" *ngIf="!mail.valid && mail.touched">Favor de ingresar un email valido</span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid" >Agregar</button>
            <button class="btn btn-success" (click)="traerListaClientes()">Traer Clientes</button>
        </div>
    </form>
</div>
<app-lista-clientes></app-lista-clientes>